.faq {
  width: 100%;
  background-color: #ffffffaa; /* White background for the entire FAQ section */
  padding: 40px 270px; /* Add padding for better spacing */
  box-sizing: border-box; /* Ensure padding is included in the width */
  text-align: center;
  font-weight: bold;
}

.faq h2 {
  margin-bottom: 20px;
  color: #333;
}

.faq-item {
  margin-bottom: 10px;
  text-align: left;
}

.faq-question {
  display: flex;
  align-items: center;
  cursor: pointer;
  font-weight: bold;
  padding: 10px;
  background-color: #f9f9f9e1; /* Light grey background for questions */
  border: 1px solid #ddd;
  border-radius: 4px;
  transition: background-color 0s ease-in-out;
}

.faq-question:hover {
  background-color: #f0f0f0;
}

.arrow {
  margin-right: 10px;
  transition: transform 0.3s ease;
}

.arrow.down {
  transform: rotate(90deg);
}

.faq-answer {
  padding: 10px 20px;
  background-color: #fff; /* White background for answers */
  border-left: 3px solid #333;
  border-radius: 4px;
  margin-top: 5px;
  transition: max-height 0.3s ease-in-out;
}
